# Python 3.10
torch==2.8.0
torchvision==0.23.0
numpy==1.26.4
einops==0.8.1
opencv-python==4.11.0.86
Pillow>=10.0
tensorboard==2.10.0
timm==1.0.15
git+https://github.com/LTH14/torch-fidelity.git@master
# The bundled egfm/src is discovered automatically when running from this tree.
# Install ./egfm only when integrating EG-FM into another project/environment.
